@layout('layout/app')

@section('content')
  <main class="flex items-center justify-center">
    <div class="py-4">
      <h1>Bienvenue chez Vincent Parrot</h1>
      <h2>garage automobile</h2>
    </div>
    
    
  </main>
@end